.extendPage{

    height: 100vh;

    .app{
        
        width: 100%;
                
        /* Need to keep the topbar visible*/
        // height: calc(100vh - 70px);
        background-color: lightcoral; // use theme colour normally from global
        position: relative;
                
        top: 70px; // Normally, this would be at 70px, without the scroll container existing
        bottom: 0; // added to remove bottom portions
        overflow-y: hidden;

        overflow: hidden;

        scrollbar-width: none; // for firefox

        &::-webkit-scrollbar{
            display: none; // for chrome, and etc...
        }
        
        /* Makes EACH (meaning of "*") component take up it's full height and section
        on the page */
        width: 100vw;
        // height: calc(100vh - 70px);        
        height: 100vh;
    }

}