.dashboard{
    height: 100vh;
    display: flex;

    background-color: white;

    justify-content: center;

    .title{
        
        color: lightcoral;
        font-size: 5vh;
        font-weight: 700;

    }

}